snippet template
int main(int argc, char **argv){

	$1


	return 0;
}
endsnippet

snippet head
//***************************************************************************
//
//  file-name
//  CSCI 241 Assignment assignment-number
//
//  Created by name(s) and z-ID(s)
//
//***************************************************************************
endsnippet

snippet desc
/**
 *
 *
 * @param
 *
 * @return
 */
endsnippet
