snippet error
ini_set('display_errors', '1');
ini_set('display_startup_errors', '1');
error_reporting(E_ALL);
endsnippet

snippet head
<html>  
  <head>
    <title>$1</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

endsnippet
snippet end
  </body>
</html>
endsnippet
snippet icons
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
endsnippet
